<div class="text-center">
        <h1><span class="fa fa-list-alt"></span> My list</h1>
    </div>

    <div class="row">


        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a list item" aria-describedby="basic-addon2">
            <span class="input-group-addon glyphicon glyphicon-shopping-cart" id="basic-addon2">Add</span>
        </div>


    </div>
