<div class="text-center">
        <h1><span class="fa fa-list-alt"></span> My list</h1>
</div>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
            <form method="post" action="/" >
            <div class="input-group">
                <input id="itemName" type="text" class="form-control" placeholder="Enter a list item" aria-describedby="basic-addon2" name="item_name">
                <input type="text" class="form-control" placeholder="Count" aria-describedby="basic-addon2" name="count">
                <span class="input-group-addon glyphicon glyphicon-shopping-cart" id="basic-addon2">+</span>
                <!--<input type="submit" value="Submit">-->
            </div>
            </form>


            <div id="content">
                <h3 class="text-primary"> List</h3>

                <p>
                </p>

            </div>
        </div>

    </div>

